<html>
<head>
	<title>Zuplae Aulas</title>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header>
    <nav id="navbar">
        <a href="#" class="logo">SCHOOL<span> ZUPLAE</span></a>
        <ul class="nav-links">
                <li><a href="/Home/Index">HOME</a></li>
                <li><a href="/Aluno/Create">CADASTRO</a></li>
         </ul>
    </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2025 School Zuplae. Todos os direitos reservados.
    </footer>
</body>
</html>